<!---->
<footer class="footer">
    <div class="footerbottom">
        <div class="container clearfix">
            <div class="row">
            	<div class="col-sm-8">
                	<div class="col-sm-6 col-xs-6 footerlink">
                    <div class="quicklink">
                        <h3>Quick Links</h3>
                        <ul class="col-sm-6 col-xs-6">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="maths-battle.html">Maths Battle</a></li>
                            <li><a href="resources.html">Resources</a></li>
                            
                        </ul>
                        <ul class="col-sm-6 col-xs-6">
                        	<li><a href="problems.html">Problems</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="feedback.html">Feedback</a></li>
                        </ul>
                    </div>
                </div>
                
                	<div class="col-sm-6 col-xs-6 footerlink">
                    <div class="getintouch">
                        <h3>Get in Touch</h3>
                            <a href="contactus.html">Contact Us</a>

                       <!-- <div class="email"><a href="mailto:info@wesolveproblems.org.uk"><img src="images/emailicon.png" class="emailicon" />info@wesolveproblems.org.uk</a></div>
                        <div class="phone"><img src="images/phoneicon.png" class="emailicon"/>(000) 000-0000</div>-->
                        <div class="sociallink">
                            <a href="#" class="facebook"><img src="images/facebookicon.png" /></a>
                            <a href="#" class="twitter"><img src="images/twittericon.png" /></a>
                        </div>
                    </div>
                </div>
                </div>
                <!--<div class="col-sm-3 col-xs-6 footerlink">
                    <div class="newssubscribe">
                        <h3>Join Our Mailing List</h3>
                        <p>Signup to receive offers reserved for our best customers.</p>
                        <div class="subscriptionform">
                            <input type="text" class="form-control" placeholder="Enter your email...">
                            <input type="submit" value="" class="btn">
                        </div>
                    </div>
                </div>-->
                
                	<div class="col-sm-4 col-xs-6 footerlink">
                    	<div class="footer-logo">
                        	<img src="images/fotterlogo.png" class="img-responsive" alt=""><br />
                        	© 2016 WeSolveProblems.<br /> All Rights Reserved.
                    	</div>
                	</div>
                
            </div>
        </div>
    </div>
</footer>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>