<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="google-site-verification" content="D3l30M9VWqdXBAGXFfPh8fOIqNudU_YS4P84vdb35PM" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    {% if page.use_math %}
      {% include mathjax_support.html %}
    {% endif %}
</head>

<body>
<header class="header">
    <div class="container clearfix">
        <div class="logo pull-left">
        	
            <a href="/index.html"><img src="/images/logo.svg" alt="" width="190" height="66"></a>
        </div>
        <button aria-expanded="false" aria-controls="bs-navbar" data-target="#bs-navbar" data-toggle="collapse" type="button" class="navbar-toggle collapsed"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <nav id="bs-navbar" class="collapse navbar-collapse nav pull-right">
            <ul>
                <li><a {% if page.url == "/index.html" %}class="active"{% endif %} href="/index.html">Home</a></li>                                      
                <li><a {% if page.url == "/maths-battle" %}class="active"{% endif %} href="/maths-battle">Maths Battle</a></li>
		<li><a {% if page.url == "/resources.html" %}class="active"{% endif %} href="/resources.html">Resources</a></li>
		<li><a {% if page.url == "forteachers.html" %}class="active"{% endif %} href="/forteachers.html">For Teachers</a></li>
		<li><a {% if page.url == "/problems/" %}class="active"{% endif %} href="/problems/">Problems</a></li>
                <li><a {% if page.url == "/contact.html" %}class="active"{% endif %} href="/contact.html">Contact Us</a></li>
                <li><a {% if page.url == "/about.html" %}class="active"{% endif %} href="/about.html">About</a></li>
                <li><a {% if page.url == "/feedback.html" %}class="active"{% endif %} href="/feedback.html">Feedback</a></li>
                 <li><a {% if page.url == "/uclolympiad.html" %}class="active"{% endif %} href="/uclolympiad.html">Maths Battles at UCL</a></li>
            </ul>
        </nav>
    </div>
</header>
